*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.PostmanWindow {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: rgb(211, 211, 211);

  &__controls {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
  }

  &__filter {
    input {
      margin-right: 10px;
    }
  }

  &__requests-data {
    display: flex;
    flex-direction: row;
  }

  &__request {
    width: calc(100vw - 300px - 20px - 20px);
    height: calc(100vh - 40px - 40px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
}