h3(class="error") Please, fill the form carefully 
ul 
  li(class="error") minimum second name length should be 10 
  li(class="error") minimum age should be 18 
  li(class="warn") please, choose photo one more time